---
interface Props {
  activeTab?: string;
}

const { activeTab = 'featured' } = Astro.props;
---

<a href="/search" class={`search ${activeTab === 'search' ? 'active' : ''}`}>
  <div class="search-icon"></div>
</a>

<style>
  /* Search button for mobile */
  .search {
    display: block;
    text-decoration: none;
    height: 30pt;
    width: 30pt;
    position: absolute;
    right: 4pt;
    top: 50%;
    margin-top: -15pt;
    background-image: url('/UINavigationBar/UINavigationBarDefaultButton/Left.png');
    background-repeat: no-repeat;
    background-size: 5pt 30pt;
    background-position: left center;
  }
  
  .search::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5pt;
    right: 5pt;
    height: 30pt;
    background-image: url('/UINavigationBar/UINavigationBarDefaultButton/Middle.png');
    background-repeat: repeat-x;
    background-size: 1pt 30pt;
  }
  
  .search::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5pt;
    height: 30pt;
    background-image: url('/UINavigationBar/UINavigationBarDefaultButton/Right.png');
    background-repeat: no-repeat;
    background-size: 5pt 30pt;
    background-position: right center;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16pt;
    height: 16pt;
    margin-top: -8pt;
    margin-left: -8pt;
    background-image: url('/UIButtonBarSearch.png');
    background-repeat: no-repeat;
    background-size: 16pt 16pt;
    z-index: 2;
    pointer-events: none;
  }

  /* iPad and larger screens */
  @media screen and (min-width: 768px) {
    .search {
      display: none;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .search {
      background-image: url('/UINavigationBar/UINavigationBarDefaultButton/Left@2x.png');
      background-size: 5pt 30pt;
    }
    
    .search::before {
      background-image: url('/UINavigationBar/UINavigationBarDefaultButton/Middle@2x.png');
      background-size: 1pt 30pt;
    }
    
    .search::after {
      background-image: url('/UINavigationBar/UINavigationBarDefaultButton/Right@2x.png');
      background-size: 5pt 30pt;
    }
    
    .search-icon {
      background-image: url('/UIButtonBarSearch@2x.png');
    }
  }
</style>
