---
interface Props {
  activeTab?: string;
  // 'nav' positions absolutely inside the 60px nav row (default);
  // 'static' flows in-place (used for the search page's tab row).
  variant?: 'nav' | 'static';
}

const { activeTab = 'featured', variant = 'nav' } = Astro.props;
---

<div class={variant === 'static' ? 'segment-bar is-static' : 'segment-bar'}>
  <a href="/" class={`segment-button ${activeTab === 'featured' ? 'active' : ''}`}>
    <span class="segment-text">Featured</span>
  </a>
  <div class="segment-divider"></div>
  <a href="/categories" class={`segment-button ${activeTab === 'categories' ? 'active' : ''}`}>
    <span class="segment-text segment-text-long">Categories</span>
  </a>
  <div class="segment-divider"></div>
  <a href="/charts" class={`segment-button ${activeTab === 'charts' ? 'active' : ''}`}>
    <span class="segment-text">Top 25</span>
  </a>
</div>

<style>
  .segment-bar {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: absolute;
    left: 4pt;
    right: 38pt;
    top: 50%;
    margin-top: -15pt;
    max-width: 280pt;
    margin-left: auto;
    margin-right: auto;
  }
  
  .segment-button {
    display: block;
    text-decoration: none;
    height: 30pt;
    line-height: 30pt;
    background-repeat: no-repeat;
    background-size: auto 30pt;
    position: relative;
    -webkit-box-flex: 1;
    width: 33.333%;
    min-width: 0;
  }
  
  /* First segment - left end cap + middle section */
  .segment-button:first-child {
    background-image: url('/UISegmentBar/UISegmentBarButton/Left.png');
    background-position: left center;
    padding-left: 8pt;
    padding-right: 8pt;
  }
  
  .segment-button:first-child::after {
    content: '';
    position: absolute;
    top: 0;
    left: 4pt;
    right: 0;
    height: 30pt;
    background-image: url('/UISegmentBar/UISegmentBarButton/Middle.png');
    background-repeat: repeat-x;
    background-size: 2pt 30pt;
  }
  
  /* Middle segments - repeating middle part only */
  .segment-button:not(:first-child):not(:last-child) {
    background-image: url('/UISegmentBar/UISegmentBarButton/Middle.png');
    background-repeat: repeat-x;
    background-size: 2pt 30pt;
    padding-left: 8pt;
    padding-right: 8pt;
  }
  
  /* Last segment - right end cap + middle section */
  .segment-button:last-child {
    background-image: url('/UISegmentBar/UISegmentBarButton/Right.png');
    background-position: right center;
    padding-left: 8pt;
    padding-right: 8pt;
  }
  
  .segment-button:last-child::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 4pt;
    height: 30pt;
    background-image: url('/UISegmentBar/UISegmentBarButton/Middle.png');
    background-repeat: repeat-x;
    background-size: 2pt 30pt;
  }
  
  /* Active states */
  .segment-button:first-child.active {
    background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Left.png');
  }
  
  .segment-button:first-child.active::after {
    background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Middle.png');
  }
  
  .segment-button:not(:first-child):not(:last-child).active {
    background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Middle.png');
  }
  
  .segment-button:last-child.active {
    background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Right.png');
  }
  
  .segment-button:last-child.active::before {
    background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Middle.png');
  }
  
  .segment-divider {
    width: 1pt;
    height: 30pt;
    background: url('/UISegmentBar/UISegmentBarDivider.png');
    background-repeat: no-repeat;
    background-size: 1pt 30pt;
  }

  .segment-text {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 10pt;
    color: #fff;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    text-align: center;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 2pt;
  }
  
  .segment-text-long {
    font-size: 9pt;
  }

  /* Static variant flows in-place (search page tab row) */
  .segment-bar.is-static {
    position: static;
    margin: 0 auto;
    max-width: 280pt;
  }

  /* iPad and larger screens */
  @media screen and (min-width: 768px) {
    .segment-bar {
      position: static;
      margin: 0;
      max-width: none;
      width: 33.333%;
      left: auto;
      right: auto;
      top: auto;
      margin-top: 0;
      margin-right: 8px;
      -webkit-box-ordinal-group: 2;
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* High DPI segmented button images */
    .segment-button:first-child {
      background-image: url('/UISegmentBar/UISegmentBarButton/Left@2x.png');
    }
    
    .segment-button:first-child::after {
      background-image: url('/UISegmentBar/UISegmentBarButton/Middle@2x.png');
    }
    
    .segment-button:not(:first-child):not(:last-child) {
      background-image: url('/UISegmentBar/UISegmentBarButton/Middle@2x.png');
    }
    
    .segment-button:last-child {
      background-image: url('/UISegmentBar/UISegmentBarButton/Right@2x.png');
    }
    
    .segment-button:last-child::before {
      background-image: url('/UISegmentBar/UISegmentBarButton/Middle@2x.png');
    }
    
    .segment-button:first-child.active {
      background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Left@2x.png');
    }
    
    .segment-button:first-child.active::after {
      background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Middle@2x.png');
    }
    
    .segment-button:not(:first-child):not(:last-child).active {
      background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Middle@2x.png');
    }
    
    .segment-button:last-child.active {
      background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Right@2x.png');
    }
    
    .segment-button:last-child.active::before {
      background-image: url('/UISegmentBar/UISegmentBarButtonHighlighted/Middle@2x.png');
    }
    
    .segment-divider {
      background: url('/UISegmentBar/UISegmentBarDivider@2x.png');
    }
  }
</style>
